<a routerLink ="/" routerLinkActive="active">Home</a>
<div>
 
    
  <h2>{{country}}</h2>

  
</div>
<div>
  <p>Nombre of entries <br><span>{{ linechartData[0].series.length}}</span> </p>
  <p>Nombre Total Medails <br><span>{{ totalMedals}}</span> </p>
  <p>Nbre Total athletics <br><span>{{totalAthletics}}</span> </p>
</div>
<div>
<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="linechartData"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-line-chart>
</div>
  