<div><h2>Medals per Country</h2></div>
<hr />

 <div>
  <div>
  <p>Number of JOs :{{nb_jos}} </p>
  </div>
  <div>
  <p>Number of country : {{nb_country}}</p>
  </div>
 </div>
<ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="chartData"
  [gradient]="gradient"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  (dblclick)="onDlClik($event)"
  >
</ngx-charts-pie-chart>

